<div  class="card d-flex justify-content-center">
	<div class="text-center">
	{{burger_name}}
	</div>
	{{#if devoured}}
	<button class="change-devoured btn btn-dark text-center" data-id="{{id}}" data-newdevoured="{{devoured}}" style = " margin: 10px; width:100px">Devour!</button>
	{{/if}}	
</div>


